<ion-header>
  <ion-navbar>
    <ion-title>
      <div>Internet</div>
      <div style="font-size: 1.3rem; font-weight: normal;">Select your package</div>
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="pushNext()">
          Next <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <h2 text-center pad>Select date, country, network and how many days</h2>

    <ion-list padding-top>
      <ion-item no-padding>
        <ion-label>Country</ion-label>
        <ion-select [(ngModel)]="selectedCountry" interface="popover">
          <ion-option *ngFor="let country of countries" [value]="country">
            {{ country.title }}
          </ion-option>
        </ion-select>
      </ion-item>

      <ion-item no-padding>
        <ion-label>Mobile Network</ion-label>
        <ion-select [(ngModel)]="selectedNetwork" interface="popover">
          <ion-option *ngFor="let network of selectedCountry.networks" [value]="network">
            {{ network.title }}
          </ion-option>
        </ion-select>
      </ion-item>

      <ion-item no-padding>
        <ion-label>Date of arrival</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="selectedDate"></ion-datetime>
      </ion-item>

    </ion-list>

    <h3 text-center>Choose you Internat packet</h3>

    <ion-item no-padding margin-bottom>
      <ion-select [(ngModel)]="selectedPacket" interface="action-sheet" class="full-width-select" style="padding-left: 0px;">
        <ion-option *ngFor="let packet of packets" [value]="packet">
          Unlimited Internet for {{ packet.days }} days
        </ion-option>
      </ion-select>
    </ion-item>

    <ion-card color="secondary" *ngIf="selectedPacket.price" no-margin style="width: 100%; padding: 16px; margin-bottom: 16px; margin-top: 48px;">
      <ion-grid no-padding>
        <ion-row>
          <ion-col col-6>
            <p style="color: #000;">Price for selected Internet package:</p>
          </ion-col>
          <ion-col col-6 text-center>
            <p style="color: #000; font-weight: bold; font-size: 1.6rem; padding-top: 8px;">{{ selectedPacket.price }} ALLY or {{ selectedPacket.price * 3 }} USD</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <div>
      <button ion-button color="primary" block (click)="payNow()">Pay now</button>
    </div>
</ion-content>
